<html>
    <head>
    </head>

    <body>
        <h1>Monthly Mint Financial Independence Report</h1>

        <div class="all-time">
            <h2>All-Time Performance (since starting Mint)</h2>
            Total income: {{all_time_after_tax_income | currency_filter}}
            <br>

            Total spending: {{all_time_spending | currency_filter}}
            <br>

            Savings rate: {{all_time_savings_rate | percentage_filter}}
        </div>


        <div class="last-month">
            <h2>Last Month's Performance</h2>
            Total income: {{last_month_after_tax_income | currency_filter}}
            <br>

            Total spending: {{last_month_spending | currency_filter}}

            <br>
            Savings rate: {{last_month_savings_rate | percentage_filter}}

            <br>
            If we have this savings rate all the time, we would have to work for
            {{last_month_savings_rate | years_to_fi_filter}} years in total to reach 
            financial independence!

        </div>

        <div class="savings-trend">
            <h2>Annual Trend in Savings Rate</h2>
            {% for year_savings in annual_savings_trend %}
            {{year_savings[0]}}: {{year_savings[1] | percentage_filter}}
            <br>
            {% endfor %}
</html>
